<!--banner-->
<div id="home" class="banner">
	<div class="banner-info hidden-xs hidden-sm">
		<div class="shadeBack">
			<div class="container">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 190px">
					<span style="color: #fff;font-size: 40px" class="fontfmly">HI! THIS IS</span>&nbsp;&nbsp;&nbsp;
					<span style="color: #19CF86;font-size: 40px" class="fontfmly">SAI KRISHNA</span>
				</div>
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 20px">
					<span style="color: #d9d9d9;font-size: 17px" class="fontfmly animated infinite fadeInUp">MEAN STACK DEVELOPER, BANGALORE, INDIA</span>
				</div>
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 20px">
					<a href="#about">
						<button class="btn btn-mg fontfmly" style="background-color:#19CF86;color: #fff;font-weight: bold">
							<span class="glyphicon glyphicon-hand-right"></span>  ABOUT ME
						</button>
					</a>
				</div>
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 20px" ng-if="false">
					<a target="_self"  href="http://res.cloudinary.com/symplocus/image/upload/v1484130072/sai_CV_ygljh8.pdf" download="http://res.cloudinary.com/symplocus/image/upload/v1484130072/sai_CV_ygljh8.pdf" >
						<button class="btn btn-mg btn-personal fontfmly">
							<span class="glyphicon glyphicon-save"></span>  Download My CV
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--<a target="_self" href="" ng-href="{{invoiceFile}}" download="{{orderData.orderId}}" data-toggle="tooltip" data-placement="top" title="Download this invoice" type="button" class="btn btn-xs" style="background-color: #1d9d74;border-color: #1d9d74; font-weight: bold;color: #fff">{{(invoiceFile.length > 50 ?-->
		<!--invoiceFile.substring(96,108) : invoiceFile)}}&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>-->
	<div class="banner-infomobi hidden-lg hidden-md">
		<div class="shadeBackmobi">
			<div class="container">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 100px">
					<span style="color: #fff;font-size: 30px" class="fontfmly">HI! THIS IS</span>&nbsp;&nbsp;&nbsp;
					<span style="color: #19CF86;font-size: 30px" class="fontfmly">SAI</span>
				</div>
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 15px">
					<span style="color: #d9d9d9;font-size: 14px" class="fontfmly">MEAN STACK DEVELOPER, BANGALORE, INDIA</span>
				</div>
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: center;padding-top: 15px">
					<a href="#about">
						<button class="btn btn-mg fontfmly" style="background-color:#19CF86;color: #fff;font-weight: bold">
							<span class="glyphicon glyphicon-hand-right"></span>  ABOUT ME
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//banner-->
<!--top-nav-->
<div class="top-nav wow hidden-xs hidden-sm" style="background:#19CF86">
	<div class="container">
		<div class="navbar-header logo">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				Menu
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="menu">
				<ul class="nav navbar">
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#work" class="scroll">Experience</a></li>
					<li><a href="#education" class="scroll">Education</a></li>
					<li><a href="#skills" class="scroll">Skills</a></li>
					<li><a href="#projects" class="scroll">My Projects</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--//top-nav-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="title"> About Me</h3>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="padding-bottom: 2%">
				<span style="color: #19CF86;font-size: 20px" class="fontfmly">
					MY STORY
				</span>
				<p class="animated fadeInLeft" style="margin-top: 5%" ng-if="data1 == true">	An accomplished full-stack software developer with 2 years of experience in developing web application.
					Currently working with Medibox Technologies, Bangalore as Software Developer, I am involved with designing and developing scalable digital platform for healthcare industry
				</p>
				<br>
				<p id="#div3" ng-if="data1 == true"> Among other stuff, I would like to cook and play sports like volleyball,cricket,badminton</p>
				<!--<div id="fb-root"></div>-->
				<!--<script>(function(d, s, id) {-->
					<!--var js, fjs = d.getElementsByTagName(s)[0];-->
					<!--if (d.getElementById(id)) return;-->
					<!--js = d.createElement(s); js.id = id;-->
					<!--js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1613007628963302";-->
					<!--fjs.parentNode.insertBefore(js, fjs);-->
				<!--}(document, 'script', 'facebook-jssdk'));</script>-->
				<!--<div class="fb-like" data-href="http://nelavallisaikrishna.com" data-width="200px" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>-->
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="text-align: center;padding-bottom: 2%" >
				<!--<img src="/img/saiimg.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">-->
				<img src="http://res.cloudinary.com/symplocus/image/upload/v1477302972/IMG_4725_wpdwmh.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 person-info" style="padding-bottom: 2%">
				<span style="color: #19CF86;font-size: 20px" class="fontfmly">
					PERSONAL INFORMATION
				</span>
				<h5 style="margin-top: 5%"><span>Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Saikrishna Nelavalli </h5>
				<h5><span>Email :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="mailto:saikrishna.ece2013@gmail.com">saikrishna.ece2013@gmail.com</a></h5>
				<h5><span>Mobile No :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>+91- 9000 333 105 </h5>
				<h5><span>Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 25 Years</h5>
				<h5><span>Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Single </h5>
				<h5><span>Address :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Bangalore, India</h5>
				<span class="falinks">
						<div style="text-align: left;margin-top: 2%;font-size: 11px;">
							<a href="https://www.facebook.com/saikrishna.nelavalli" target="_top" style="color: #D5D4D4;"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
							<a href="https://github.com/nelavallisaikrishna" target="_top" style="color: #D5D4D4;"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a>
							<a href="https://www.linkedin.com/in/saikrishnanelavalli?trk=nav_responsive_tab_profile" target="_top" style="color: #D5D4D4;"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
							<a href="mailto:saikrishna.ece2013@gmail.com" style="color: #D5D4D4;"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
						</div>
				</span>
			</div>
		</div>
	</div>
</div>
<!--//about-->
<!--work-experience-->
<div id="work" class="work">
	<div class="container">
		<h3 class="title">Work Experience</h3>
		<div class="work-info">
			<div class="col-md-6 work-left">
				<h4>April 2015 - Current </h4>
			</div>
			<div class="col-md-6 work-right">
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Medibox Technologies LLP</h5>
				<h6> Software Developer</h6>
				<p>Involved with designing and developing scalable digital platform for healthcare industry. Roles included User Interface web development in accordance with requirements,Mapping business requirements to application features and the most suited technology to provide
					business value
					Technologies used: HTML, CSS, Bootstrap, AngularJS, Java script, NodeJS, MongoDB, ElasticSearch. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//work-experience-->
<!--education-->
<div id="education" class="education">
	<div class="container">
		<h3 class="title">Education</h3>
		<div class="work-info">
			<div class="col-md-6 work-left">
				<h4>B.Tech in electronics and communication engineering, 2009-2013</h4>
			</div>
			<div class="col-md-6 work-right">
				<h5><span class="glyphicon glyphicon-education"> </span> TRR College of engineering, Hyderabad.</h5>
				<p>Courses: studied Microprocessor, Micro Controllers, Signals, C language and MatLab etc....</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 work-right work-right2">
				<h4>Higher Secondary Schooling in MPC - 2009</h4>
			</div>
			<div class="col-md-6 work-left work-left2">
				<h5> Board of Intermediate Education Govt. of Andhra Pradesh <span class="glyphicon glyphicon-education"></span></h5>
				<p>Completed my Higher Secondary Schooling in MPC. Major subjects were Physics, Chemistry, Maths.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 work-left">
				<h4>MongoDB for NodeJs Developers, 2016</h4>
			</div>
			<div class="col-md-6 work-right">
				<h5><span class="glyphicon glyphicon-education"> </span> MongoDB University</h5>
				<p>Learn basic installation of MongoDB, JSON, schema design, querying, insertion of data, indexing and working with language drivers. The course project involves building an e-commerce platform with MongoDB.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--skills-->
<div id="skills" class="skills">
	<div class="container">
		<h3 class="title">Skills</h3>
		<div class="skills-info">
			<div class="col-md-6 bar-grids">
				<h6>HTML<span>90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
				<h6> CSS<span> 90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
				<h6>AngularJs <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>Bootstrap<span> 95% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
			</div>
			<div class="col-md-6 bar-grids">
				<h6>MongoDb <span> 75% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 75%">
					</div>
				</div>
				<h6>NodeJS <span> 70% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 70%">
					</div>
				</div>
				<h6>ElasticSearch<span>70% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 70%">
					</div>
				</div>
				<h6>Git/GitHub,Atlassian JIRA,WebStorm 7, Sublime<span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--portfolio-->
<div id="projects" class="portfolio">
	<div class="container">
		<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
		<ul class="list-group">
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Hellow world</span> <a href="https://github.com/mujawar/M101JS-mongodb-course-2016"><i class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>NodeJS project.</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Aadhar enrollment form design</span> <a href="https://github.com/mujawar/contactlist-MEAN-app"><i class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>Aadhar enrollment form is desinged by using html, bootstrap, javascript and JQuery</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Angular Project</span> <a href="https://github.com/mujawar/Angular-project"><i class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>complate angular website is done using angularjs</span></div></li>

		</ul>
		<!--ResponsiveTabs-->
		<script src="js/modules/easyResponsiveTabs.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});
		</script>
		<!--//ResponsiveTabs-->
		<!-- swipe box js -->
		<script src="js/modules/jquery.swipebox.min.js"></script>
			<script type="text/javascript">
				jQuery(function($) {
					$(".swipebox").swipebox();
				});
		</script>
		<!-- //swipe box js -->
	</div>
</div>
<div class="welcome contact" id="contact">
	<div class="container">
		<h3 class="title">Contact Me</h3>

		<div class="contact-row">
			<div class="col-md-6 contact-left">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.072049270041!2d77.58483511449754!3d12.9030885909009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1514f20d1073%3A0x9fa7906ba0f64a88!2s6%2C+22nd+Main+Rd%2C+5th+Phase%2C+Ayodya+Nagar%2C+J+P+Nagar+Phase+5%2C+J+P+Nagar%2C+Bengaluru%2C+Karnataka+560078!5e0!3m2!1sen!2sin!4v1468480485614" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 contact-right">
				<div class="address-left">
					<p>#27 Narayana buildings, shamanna gardens, 22nd main, jp nagar 5th phase, Bangalore - 560078<br> KA, India. </p>
				</div>
				<div class="address-right">
					<p>Call us :  +91 9000 333 105</p>
					<p>E-mail : <a href="mailto:saikrishna.ece2013@gmail.com">saikrishna.ece2013@gmail.com</a></p>
				</div>
				<div class="clearfix"></div>
				<div class="contact-form">
					<form method="post">
						<input type="text" placeholder="Name" ng-model="contact.name" required="">
						<input class="email" type="text" placeholder="Email" ng-model="contact.email" required="">
						<input class="phone" type="text" placeholder="Phone" ng-model="contact.phone" required="">
						<textarea name="Message" placeholder="Message" ng-model="contact.message" required=""></textarea>
						<input type="submit" value="SUBMIT"  ng-click="submitData()">
					</form>
				</div>
				<div style="font-size: 21px;color: white;smargin-top: 4%;">
					{{successMessage}}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--<div>-->
	<!--<p>This example sets different speed values for the delay() method.</p>-->
	<!--<button>Click to fade in boxes with a delay</button>-->
	<!--<br><br>-->

	<!--<div id="div1" style="width:90px;height:90px;display:none;background-color:black;"></div><br>-->
	<!--<div id="div2" style="width:90px;height:90px;display:none;background-color:green;"></div><br>-->
	<!--<div id="div3" style="width:90px;height:90px;display:none;background-color:blue;"></div><br>-->
	<!--<div id="div4" style="width:90px;height:90px;display:none;background-color:red;"></div><br>-->
	<!--<div id="div5" style="width:90px;height:90px;display:none;background-color:purple;"></div><br>-->

<!--</div>-->
<!--&lt;!&ndash;//portfolio&ndash;&gt;-->

<!--&lt;!&ndash;smooth-scrolling-of-move-up&ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script>-->
	<!--$(document).ready(function(){-->
		<!--$("button").click(function(){-->
			<!--$("#div1").delay("slow").fadeIn();-->
			<!--$("#div2").delay("fast").fadeIn();-->
			<!--$("#div3").delay(10000).fadeIn();-->
			<!--$("#div4").delay(2000).fadeIn();-->
			<!--$("#div5").delay(4000).fadeIn();-->
		<!--});-->
	<!--});-->
<!--</script>-->
<script src="js/modules/bootstrap.js"></script>

